@using Web.Models;

@model BookingUIViewModel

@{
    ViewBag.Title = "Booking";
    int count = 1;
    int nextFloor = Model.Floor == 1 ? 2 : 1;
}

<link rel="stylesheet" href="~/Content/flex-1.0.0.css" />
<script src="~/Scripts/flex-1.0.0.js" defer></script>

<div class="row">
    <div class="col-md-6" style="min-height:70px;">
        <h1>Floor @Model.Floor</h1>
    </div>
    <div class="col-md-6 text-right" style="min-height:70px; display: flex; justify-content: flex-end; align-items: flex-end;">
        <a href="@Url.Content("~/BookingUI/Index?floor=" + @nextFloor)">Go to Floor @nextFloor</a>
    </div>
</div>

<div class="main-div">
    @if (Model.Rows != null && Model.Rows.Count > 0)
    {
        <div class="flex-container">
            <div class="flex-item" data-status="Skip" data-name="None"></div>
            <div class="flex-item" data-status="Skip" data-name="None">1</div>
            <div class="flex-item" data-status="Skip" data-name="None">2</div>
            <div class="flex-item" data-status="Skip" data-name="None">3</div>
            <div class="flex-item" data-status="Skip" data-name="None">4</div>
            <div class="flex-item" data-status="Skip" data-name="None">5</div>
        </div>

        foreach (var row in Model.Rows)
        {
            <div class="flex-container">

                @if (count == 1)
                {
                    <div class="flex-item" data-status="Skip" data-name="None">A</div>
                }
                else if (count == 2)
                {
                    <div class="flex-item" data-status="Skip" data-name="None">B</div>
                }
                else
                {
                    <div class="flex-item" data-status="Skip" data-name="None">C</div>
                }

                @foreach (var unit in row.Units)
                {
                    <div id="@unit.CssID" class="flex-item" data-id="@unit.ID" data-status="@unit.Status" data-name="@unit.Name" data-tooltip="@unit.Status">@unit.Name</div>
                }
            </div>

            count++;
        }
    }
</div>